@import url("https://dev-suit.netlify.app/CSS/main.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --bg-color: rgba(0, 0, 0, 0.7);
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--primary);
  height: 4rem;
}

.active-page {
  font-weight: bolder;
  color: white !important;
}

.nav-list {
  align-items: center;
  justify-content: center;
  font-weight: initial;
}

.bttn {
  font-size: 0.8rem;
}

.card {
  background-color: inherit;
  color: var(--primary);
  border-radius: 0;
  width: 250px;
  padding: 0;
  border: none;
}

.card .video-image:hover {
  opacity: 0.7;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container .modal {
  position: relative;
  top: inherit;
  left: inherit;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-body {
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem 1rem;
}

/* CSS components */
.txt-white {
  color: white;
}

.txt-primary {
  color: var(--primary);
}

.txt-align-left {
  text-align: left;
}

.bttn-floating-action {
  color: black;
  bottom: 3.5rem;
}
